html {
  box-sizing: border-box;
}

html, body, .root {
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}
